# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Executables
*.exe

# Folders
dep*/
obj/
*build/
html/
latex/
src_backup/
examples/*/build/

# Sublime Text
*.sublime-workspace

# Misc Files
*.directory
*.swp

# Backup Files
*~